<po-page-list
  #paginaListaBanco
  [p-actions]="acoes"
  [p-title]="nomePagina"
  [p-filter]="bancoListaFilter"
  [p-disclaimer-group]="bancoListaDisclaimer"
>
  <po-container style="width: 100%">
    <po-table
      #tabelaListaBanco
      style="width: 100%"
      (p-show-more)="mostrarMaisBancos()"
      [p-actions]="bancoListaAcoes"
      [p-sort]="true"
      [p-striped]="true"
      [p-loading]="carregandoTabelaBanco"
      [p-loading-show-more]="carregandoDadosBanco"
      [p-show-more-disabled]="desabilitarCarregarMais"
      [p-items]="listaBancos"
      [p-columns]="colunasTabelaBanco"
      [p-actions-right]="true"
    >
    <ng-template p-table-cell-template let-column="column" let-row="row">
      <div *ngIf="column.property === 'ativo'">
        <span *ngIf="row.ativo == true" class="po-color-10 po-table-column-label">ATIVO</span>
        <span *ngIf="row.ativo == false" class="po-color-07 po-table-column-label">INATIVO</span>
      </div>
    </ng-template>
    </po-table>
  </po-container>
</po-page-list>
