<div id="center">
  <div class="po-row">
    <form [formGroup]="formulario">
      <div class="po-row">
        <po-login
          class="po-md-10"
          p-label="Usuário"
          formControlName="login"
          p-required="true"
          ></po-login>

          <po-password
            class="po-md-10"
            p-label="Senha"
            formControlName="password"
            p-required="true"
          ></po-password>
      </div>
    </form>

    <po-button
      class="po-md-4"
      p-label="Entrar"
      (p-click)="logar()"
      [p-disabled]="desabilitaBotaoLogar"
    ></po-button>
  </div>
</div>
